@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
a {
    text-decoration: none!important;
}

.search-icon {
    width: 16px;
    height: 16px;
}

.navbar-nav {
    align-items: center;
}

.img-width {
    width: 15px;
    height: 15px;
}

.text-font-color {
    font: normal normal normal 16px/21px Roboto;
    color: #C8242F!important;
}

nav {
    height: 80px;
}

.text-search {
    margin: 0px;
}

.navbar {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}

.sidebar>li {
    height: 43px;
}

.sidebartext-color {
    font: normal normal normal 16px/21px Roboto;
    color: #3E3E3E;
}

.sidebartext-coloractive {
    font: normal normal normal 16px/21px Roboto;
    color: #C8242F!important;
}

.nav-active {
    background: #FFF3F4 0% 0% no-repeat padding-box;
    border-radius: 5px;
}

.sidebar>li>a>img {
    width: 15px;
    height: 15px;
}

ul {
    list-style-type: none;
}

.d-flex {
    align-items: center;
    justify-content: flex-end;
}

.username {
    font: normal normal normal 16px/21px Roboto;
    color: #000000!important;
}